<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battery.mes.mapper.spc.SpcMapper">

    <resultMap id="spcResultMap" type="com.battery.mes.domain.spc.SpcData">
        <id property="id" column="id"/>
        <result property="lotId" column="lot_id"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="lotNumber" column="lot_number"/>
        <result property="woNumber" column="wo_number"/>
        <result property="parameterName" column="parameter_name"/>
        <result property="subgroupNo" column="subgroup_no"/>
        <result property="sampleValues" column="sample_values"/>
        <result property="xBar" column="x_bar"/>
        <result property="rangeValue" column="range_value"/>
        <result property="ucl" column="ucl"/>
        <result property="cl" column="cl"/>
        <result property="lcl" column="lcl"/>
        <result property="usl" column="usl"/>
        <result property="lsl" column="lsl"/>
        <result property="cp" column="cp"/>
        <result property="cpk" column="cpk"/>
        <result property="measuredAt" column="measured_at"/>
    </resultMap>

    <sql id="spcColumns">
        s.id,
        s.lot_id,
        s.work_order_id,
        l.lot_number,
        w.wo_number,
        s.parameter_name,
        s.subgroup_no,
        s.sample_values,
        s.x_bar,
        s.range_value,
        s.ucl,
        s.cl,
        s.lcl,
        s.usl,
        s.lsl,
        s.cp,
        s.cpk,
        s.measured_at
    </sql>

    <select id="findPaged" resultMap="spcResultMap">
        SELECT <include refid="spcColumns"/>
        FROM spc_data s
        LEFT JOIN lots l ON l.id = s.lot_id
        LEFT JOIN work_orders w ON w.id = s.work_order_id
        WHERE 1 = 1
        <if test="lotId != null and lotId != ''">
            AND s.lot_id = #{lotId}
        </if>
        <if test="workOrderId != null and workOrderId != ''">
            AND s.work_order_id = #{workOrderId}
        </if>
        <if test="parameterName != null and parameterName != ''">
            AND UPPER(s.parameter_name) = #{parameterName}
        </if>
        ORDER BY s.measured_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM spc_data s
        WHERE 1 = 1
        <if test="lotId != null and lotId != ''">
            AND s.lot_id = #{lotId}
        </if>
        <if test="workOrderId != null and workOrderId != ''">
            AND s.work_order_id = #{workOrderId}
        </if>
        <if test="parameterName != null and parameterName != ''">
            AND UPPER(s.parameter_name) = #{parameterName}
        </if>
    </select>

    <select id="findById" resultMap="spcResultMap">
        SELECT <include refid="spcColumns"/>
        FROM spc_data s
        LEFT JOIN lots l ON l.id = s.lot_id
        LEFT JOIN work_orders w ON w.id = s.work_order_id
        WHERE s.id = #{id}
    </select>

    <select id="findChart" resultType="com.battery.mes.dto.spc.SpcChartPointDto">
        SELECT s.id,
               s.parameter_name,
               s.subgroup_no,
               s.x_bar,
               s.range_value,
               s.ucl,
               s.cl,
               s.lcl,
               TO_CHAR(s.measured_at, 'YYYY-MM-DD HH24:MI:SS') AS measured_at,
               l.lot_number,
               w.wo_number
        FROM spc_data s
        LEFT JOIN lots l ON l.id = s.lot_id
        LEFT JOIN work_orders w ON w.id = s.work_order_id
        WHERE 1 = 1
        <if test="parameterName != null">
            AND UPPER(s.parameter_name) = #{parameterName}
        </if>
        <if test="lotId != null">
            AND s.lot_id = #{lotId}
        </if>
        <if test="workOrderId != null">
            AND s.work_order_id = #{workOrderId}
        </if>
        ORDER BY s.subgroup_no ASC, s.measured_at ASC
    </select>

    <insert id="insert" parameterType="com.battery.mes.domain.spc.SpcData">
        INSERT INTO spc_data (
            id,
            lot_id,
            work_order_id,
            parameter_name,
            subgroup_no,
            sample_values,
            x_bar,
            range_value,
            ucl,
            cl,
            lcl,
            usl,
            lsl,
            cp,
            cpk,
            measured_at
        ) VALUES (
            #{id},
            #{lotId},
            #{workOrderId, jdbcType=VARCHAR},
            #{parameterName},
            #{subgroupNo},
            #{sampleValues, jdbcType=OTHER},
            #{xBar, jdbcType=NUMERIC},
            #{rangeValue, jdbcType=NUMERIC},
            #{ucl, jdbcType=NUMERIC},
            #{cl, jdbcType=NUMERIC},
            #{lcl, jdbcType=NUMERIC},
            #{usl, jdbcType=NUMERIC},
            #{lsl, jdbcType=NUMERIC},
            #{cp, jdbcType=NUMERIC},
            #{cpk, jdbcType=NUMERIC},
            #{measuredAt}
        )
    </insert>
</mapper>
